- content_for :title, @post.title

.row
  .col-lg-8.mx-auto
    = render @post
    
    %hr.my-4
    .text-center
      = link_to posts_path, class: 'btn btn-primary' do
        %i.bi.bi-arrow-left.me-2
        Back to Posts
